@import "reset";
@import "nav";
@import "footer";

/*--PAGES--*/
@import "../sass/contacto/contacto";
@import "../sass/dolarmep/dolarmep";
@import "../sass/fondos/fondos";
@import "../sass/mercado/mercado";



/*---PORTADA---*/


#portada{
    color: white;
    img{
        @include img-size(100%,700px);
    }
    h1{ 
        @include portada(absolute, 35%, 50%, 400%, 600, translate(-50%,-50%));
        @include cambio_color(ease-in,5s,initial);
    }
    p{
        @include portada(absolute, 52%, 52.5%, 190%, 500, translate(-55%,-55%));
        @include cambio_color(ease-in,5s,initial);
        text-align: center;
    }
}

/*---MAIN--*/

main{
    #main-container{
        justify-content: space-around;
        margin: 25px;
        div{
            border: none;
            p{
                color: $color_text;
                text-align: center;
                font-size: 120%;
            }
            img:hover{
                @include desvanecer(ease-in,1.5s);
            }
            
        }
    }
}

/*-- TABLET | 768px -- */

@media only screen and (max-width: 768px){
    #portada{
        img{
            @include img-size(120vh,90vw);
        }
        h1{
            @include portada(absolute, 40%, 54%, 310%, 700, translate(-50%,-50%));
        }
        p{
            @include portada(absolute, 65%, 52.5%, 140%, 500, translate(-55%,-55%));
        }
    }
}


/*-- MOVILE L | 425px --*/ 
@media only screen and (max-width: 425px){
    #portada{
        img{
            @include img-size(100vh,125vw);
        }
        h1{
            @include portada(absolute, 25%, 50%, 210%, 600, translate(-50%,-50%));
        }
        p{
            @include portada(absolute, 50%, 52.5%, 120%, 500, translate(-55%,-55%));
        }
    }
}