/*--PORTADA--*/

#portada-dolarmep{
    color: white;
    img{
        @include img-size(100%,650px);
    }
    h1{
        @include portada(absolute, 50%, 18%, 400%, translate(-50%,-50%));
        @include desvanecer(ease-in,1.8s);
    }
}


/*--MAIN--*/

#main-dolarmep{
    @include color-bgcolor($color_text, white);
    @include desvanecer(ease-in,2.5s);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 175%;
    padding: 9%;
    h2{
        @include title-size(175%,650);
    }
    img{
        @include img-size(75%,50%);
        border-radius: 10px;
        align-self: center;
        padding: 5%;
    }
    section{
        padding: 5%;
        color: black;
    }
}
#main-dolarmep-contacto{
    @include color-bgcolor($color_text, $bgcolor_grey);
    @include title-size(185%,650);
    text-align: center;
    padding: 5%;
    padding-right: 12%;
    padding-left: 12%;
}

