/*--PORTADA--*/

#portada-contacto{
    color: white;
    img{
        @include img-size(100%,650px);
    }
    h1{
        @include portada(absolute, 50%, 18%, 400%, 600, translate(-50%,-50%));
        @include desvanecer(ease-in,2s);
    }
}


/*--MAIN--*/

#contacto-form{
    padding: 4%;
    padding-left: 15%;
    padding-right: 15%;
    .mb-5{
        color: $color_text;
        text-align: center;
        font-size: 120%;
    }
    #container-form-button{
        padding-left: 45%;      
    }
}

/*-- TABLET | 768px --*/
@media only screen and (max-width: 768px){
    /*--PORTADA--*/
    #portada-contacto{
        img{
            @include img-size(120vh,90vw);
        }
        h1{
            @include portada(absolute,45%, 25%, 315%, 600,translate(-50%,-50%));
        }
    }
    /*--MAIN--*/
    #contacto-form{
        #container-form-button {
            padding-left: 41%;    
        } 
    }
}

/*-- MOVILE L | 425px --*/ 
@media only screen and (max-width: 425px){

    /*--PORTADA--*/
    #portada-contacto{
        img{
            @include img-size(100vh,125vw);
        }
        h1{
            @include portada(absolute,35%,35%,215%, 600,translate(-50%,-50%));    
        }
    }
    /*--MAIN--*/
    #contacto-form{
        padding: 10%;
        #container-form-button{
            padding-left: 35%;    
        } 
    }
}