/*--PORTADA--*/

#portada-mercado{
    color: white;
    img{
        @include img-size(100%,690px);
    }
    h1{
        @include portada(absolute,50%,25%,400%, 600, translate(-50%,-50%));
        @include desvanecer(ease-in,2s);
    }
}


/*--MAIN--*/

#cedears{
    @include color-bgcolor(white,$bgcolor_blue);
    @include display_justify(flex,space-between);
    padding: 5%;
    div{
        font-size: 120%;
        width: 50%;
        h2{
            @include title-size(150%,700);
            text-align: center;
        }
    }
    section{
        align-self: center;
        iframe{
            @include img-size(560px,315px);
            border-radius: 10px;
        }
    }

}

#bonos{
    @extend #cedears;
    @include color-bgcolor($color_text,white);
}

#acciones{
    @extend #cedears;
    @include color-bgcolor(white,$bgcolor_blue);
}

#main-mercado-contacto{
    @include color-bgcolor($color_text,white);
    @include title-size(185%,650);
    text-align: center;
    padding: 7%;
    

}

/*-- MOVILE L | 425px --*/ 
@media only screen and (max-width: 425px){
    /*--PORTADA--*/
    #portada-mercado{
        img{
            @include img-size(100vh,110vw);
        }
        h1{
            @include portada(absolute,45%,45%,185%, 600, translate(-50%,-50%));
        }
    }

    /*--MAIN--*/
    #cedears{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 7%;
        div{
            width: 75%;
        }
        section{
            iframe{
                @include img-size(360px,215px);
            }
        }
    }
    #bonos{
        @extend #cedears;
        flex-direction: column-reverse;
    }
    #acciones{
        @extend #cedears;
    }
    #main-mercado-contacto{
        @include title-size(148%,650);
    }

}