/*--PORTADA--*/

#portada-fondos{
    color: white;
    img{
        @include img-size(100%,650px);
    }
    h1{
        @include portada(absolute,50%,30%,400%, 600,translate(-50%,-50%));
        @include desvanecer(ease-in,2s);
    }
}


/*--MAIN--*/


#main-section-1{
    @include color-bgcolor(white,$bgcolor_blue);
    text-align: center;
    padding: 5%;
}
#main-section-2{
    @include color-bgcolor($color_text,white);
    @include display_justify(flex,space-between);
    padding: 5%;
    div{
        padding-right: 15%;
    }
    img{
        width: 100%;
        align-content: center;
    }
}
#section-carrousel{
    section{
        @include color-bgcolor($color_text,$bgcolor_grey);
        display: flex;
        align-items: center;
        img{
            max-width: 600px;
        }
        section{
            display: block;
            padding-left: 10%;
            padding-right: 10%;
            text-align: center;
            h5{
                @include title-size(150%,700);
            }
        }
    }
}

/*-- MOVILE L | 425px --*/ 
@media only screen and (max-width: 425px){
    /*--PORTADA--*/
    #portada-fondos{
        img{
            @include img-size(100vh,110vw);
        }
        h1{
            @include portada(absolute,45%,45%,185%, 600,translate(-50%,-50%));
        }
    }

    /*--MAIN--*/
    #main-section-2{
        flex-flow: column wrap;
        text-align: center;
        div{
            padding: 5%;
        }
    }
    #section-carrousel{
        section{
            flex-flow: column wrap;
            padding: 5%;
            img{
                max-width: 250px;
            }
            section{
                h5{
                    @include title-size(125%,700);
                }
            }

        }
    }
}
